.vscode/
hw4/twig/.editorconfig
hw4/twig/.gitattributes
hw4/twig/.gitignore
hw4/twig/.php-cs-fixer.dist.php
hw4/twig/CHANGELOG
hw4/twig/composer.json
hw4/twig/drupal_test.sh
hw4/twig/LICENSE
hw4/twig/README.rst
hw4/twig/.github/workflows/ci.yml
hw4/twig/.github/workflows/documentation.yml
hw4/twig/doc/.doctor-rst.yaml
hw4/twig/doc/advanced.rst
hw4/twig/doc/api.rst
hw4/twig/doc/coding_standards.rst
hw4/twig/doc/deprecated.rst
hw4/twig/doc/index.rst
hw4/twig/doc/installation.rst
hw4/twig/doc/internals.rst
hw4/twig/doc/intro.rst
hw4/twig/doc/recipes.rst
hw4/twig/doc/templates.rst
hw4/twig/doc/_build/.requirements.txt
hw4/twig/doc/_build/conf.py
hw4/twig/doc/_build/Makefile
hw4/twig/doc/filters/abs.rst
hw4/twig/doc/filters/batch.rst
hw4/twig/doc/filters/capitalize.rst
hw4/twig/doc/filters/convert_encoding.rst
hw4/twig/doc/filters/date_modify.rst
hw4/twig/doc/filters/date.rst
hw4/twig/doc/filters/default.rst
hw4/twig/doc/filters/escape.rst
hw4/twig/doc/filters/filter.rst
hw4/twig/doc/filters/first.rst
hw4/twig/doc/filters/format.rst
hw4/twig/doc/filters/index.rst
hw4/twig/doc/filters/join.rst
hw4/twig/doc/filters/json_encode.rst
hw4/twig/doc/filters/keys.rst
hw4/twig/doc/filters/last.rst
hw4/twig/doc/filters/length.rst
hw4/twig/doc/filters/lower.rst
hw4/twig/doc/filters/map.rst
hw4/twig/doc/filters/merge.rst
hw4/twig/doc/filters/nl2br.rst
hw4/twig/doc/filters/number_format.rst
hw4/twig/doc/filters/raw.rst
hw4/twig/doc/filters/reduce.rst
hw4/twig/doc/filters/replace.rst
hw4/twig/doc/filters/reverse.rst
hw4/twig/doc/filters/round.rst
hw4/twig/doc/filters/slice.rst
hw4/twig/doc/filters/sort.rst
hw4/twig/doc/filters/spaceless.rst
hw4/twig/doc/filters/split.rst
hw4/twig/doc/filters/striptags.rst
hw4/twig/doc/filters/title.rst
hw4/twig/doc/filters/trim.rst
hw4/twig/doc/filters/upper.rst
hw4/twig/doc/filters/url_encode.rst
hw4/twig/doc/functions/attribute.rst
hw4/twig/doc/functions/block.rst
hw4/twig/doc/functions/constant.rst
hw4/twig/doc/functions/cycle.rst
hw4/twig/doc/functions/date.rst
hw4/twig/doc/functions/dump.rst
hw4/twig/doc/functions/include.rst
hw4/twig/doc/functions/index.rst
hw4/twig/doc/functions/max.rst
hw4/twig/doc/functions/min.rst
hw4/twig/doc/functions/parent.rst
hw4/twig/doc/functions/random.rst
hw4/twig/doc/functions/range.rst
hw4/twig/doc/functions/source.rst
hw4/twig/doc/functions/template_from_string.rst
hw4/twig/doc/tags/apply.rst
hw4/twig/doc/tags/autoescape.rst
hw4/twig/doc/tags/block.rst
hw4/twig/doc/tags/deprecated.rst
hw4/twig/doc/tags/do.rst
hw4/twig/doc/tags/embed.rst
hw4/twig/doc/tags/extends.rst
hw4/twig/doc/tags/filter.rst
hw4/twig/doc/tags/flush.rst
hw4/twig/doc/tags/for.rst
hw4/twig/doc/tags/from.rst
hw4/twig/doc/tags/if.rst
hw4/twig/doc/tags/import.rst
hw4/twig/doc/tags/include.rst
hw4/twig/doc/tags/index.rst
hw4/twig/doc/tags/macro.rst
hw4/twig/doc/tags/sandbox.rst
hw4/twig/doc/tags/set.rst
hw4/twig/doc/tags/spaceless.rst
hw4/twig/doc/tags/use.rst
hw4/twig/doc/tags/verbatim.rst
hw4/twig/doc/tags/with.rst
hw4/twig/doc/tests/constant.rst
hw4/twig/doc/tests/defined.rst
hw4/twig/doc/tests/divisibleby.rst
hw4/twig/doc/tests/empty.rst
hw4/twig/doc/tests/even.rst
hw4/twig/doc/tests/index.rst
hw4/twig/doc/tests/iterable.rst
hw4/twig/doc/tests/null.rst
hw4/twig/doc/tests/odd.rst
hw4/twig/doc/tests/sameas.rst
hw4/twig/lib/Twig/Autoloader.php
hw4/twig/lib/Twig/BaseNodeVisitor.php
hw4/twig/lib/Twig/CacheInterface.php
hw4/twig/lib/Twig/Compiler.php
hw4/twig/lib/Twig/CompilerInterface.php
hw4/twig/lib/Twig/ContainerRuntimeLoader.php
hw4/twig/lib/Twig/Environment.php
hw4/twig/lib/Twig/Error.php
hw4/twig/lib/Twig/ExistsLoaderInterface.php
hw4/twig/lib/Twig/ExpressionParser.php
hw4/twig/lib/Twig/Extension.php
hw4/twig/lib/Twig/ExtensionInterface.php
hw4/twig/lib/Twig/FactoryRuntimeLoader.php
hw4/twig/lib/Twig/FileExtensionEscapingStrategy.php
hw4/twig/lib/Twig/Filter.php
hw4/twig/lib/Twig/FilterCallableInterface.php
hw4/twig/lib/Twig/FilterInterface.php
hw4/twig/lib/Twig/Function.php
hw4/twig/lib/Twig/FunctionCallableInterface.php
hw4/twig/lib/Twig/FunctionInterface.php
hw4/twig/lib/Twig/Lexer.php
hw4/twig/lib/Twig/LexerInterface.php
hw4/twig/lib/Twig/LoaderInterface.php
hw4/twig/lib/Twig/Markup.php
hw4/twig/lib/Twig/Node.php
hw4/twig/lib/Twig/NodeCaptureInterface.php
hw4/twig/lib/Twig/NodeInterface.php
hw4/twig/lib/Twig/NodeOutputInterface.php
hw4/twig/lib/Twig/NodeTraverser.php
hw4/twig/lib/Twig/NodeVisitorInterface.php
hw4/twig/lib/Twig/Parser.php
hw4/twig/lib/Twig/ParserInterface.php
hw4/twig/lib/Twig/RuntimeLoaderInterface.php
hw4/twig/lib/Twig/SimpleFilter.php
hw4/twig/lib/Twig/SimpleFunction.php
hw4/twig/lib/Twig/SimpleTest.php
hw4/twig/lib/Twig/Source.php
hw4/twig/lib/Twig/SourceContextLoaderInterface.php
hw4/twig/lib/Twig/Template.php
hw4/twig/lib/Twig/TemplateInterface.php
hw4/twig/lib/Twig/TemplateWrapper.php
hw4/twig/lib/Twig/Test.php
hw4/twig/lib/Twig/TestCallableInterface.php
hw4/twig/lib/Twig/TestInterface.php
hw4/twig/lib/Twig/Token.php
hw4/twig/lib/Twig/TokenParser.php
hw4/twig/lib/Twig/TokenParserBroker.php
hw4/twig/lib/Twig/TokenParserBrokerInterface.php
hw4/twig/lib/Twig/TokenParserInterface.php
hw4/twig/lib/Twig/TokenStream.php
hw4/twig/lib/Twig/Cache/Filesystem.php
hw4/twig/lib/Twig/Cache/Null.php
hw4/twig/lib/Twig/Error/Loader.php
hw4/twig/lib/Twig/Error/Runtime.php
hw4/twig/lib/Twig/Error/Syntax.php
hw4/twig/lib/Twig/Extension/Core.php
hw4/twig/lib/Twig/Extension/Debug.php
hw4/twig/lib/Twig/Extension/Escaper.php
hw4/twig/lib/Twig/Extension/GlobalsInterface.php
hw4/twig/lib/Twig/Extension/InitRuntimeInterface.php
hw4/twig/lib/Twig/Extension/Optimizer.php
hw4/twig/lib/Twig/Extension/Profiler.php
hw4/twig/lib/Twig/Extension/Sandbox.php
hw4/twig/lib/Twig/Extension/Staging.php
hw4/twig/lib/Twig/Extension/StringLoader.php
hw4/twig/lib/Twig/Filter/Function.php
hw4/twig/lib/Twig/Filter/Method.php
hw4/twig/lib/Twig/Filter/Node.php
hw4/twig/lib/Twig/Function/Function.php
hw4/twig/lib/Twig/Function/Method.php
hw4/twig/lib/Twig/Function/Node.php
hw4/twig/lib/Twig/Loader/Array.php
hw4/twig/lib/Twig/Loader/Chain.php
hw4/twig/lib/Twig/Loader/Filesystem.php
hw4/twig/lib/Twig/Loader/String.php
hw4/twig/lib/Twig/Node/AutoEscape.php
hw4/twig/lib/Twig/Node/Block.php
hw4/twig/lib/Twig/Node/BlockReference.php
hw4/twig/lib/Twig/Node/Body.php
hw4/twig/lib/Twig/Node/CheckSecurity.php
hw4/twig/lib/Twig/Node/Deprecated.php
hw4/twig/lib/Twig/Node/Do.php
hw4/twig/lib/Twig/Node/Embed.php
hw4/twig/lib/Twig/Node/Expression.php
hw4/twig/lib/Twig/Node/Flush.php
hw4/twig/lib/Twig/Node/For.php
hw4/twig/lib/Twig/Node/ForLoop.php
hw4/twig/lib/Twig/Node/If.php
hw4/twig/lib/Twig/Node/Import.php
hw4/twig/lib/Twig/Node/Include.php
hw4/twig/lib/Twig/Node/Macro.php
hw4/twig/lib/Twig/Node/Module.php
hw4/twig/lib/Twig/Node/Print.php
hw4/twig/lib/Twig/Node/Sandbox.php
hw4/twig/lib/Twig/Node/SandboxedPrint.php
hw4/twig/lib/Twig/Node/Set.php
hw4/twig/lib/Twig/Node/SetTemp.php
hw4/twig/lib/Twig/Node/Spaceless.php
hw4/twig/lib/Twig/Node/Text.php
hw4/twig/lib/Twig/Node/With.php
hw4/twig/lib/Twig/Node/Expression/Array.php
hw4/twig/lib/Twig/Node/Expression/AssignName.php
hw4/twig/lib/Twig/Node/Expression/Binary.php
hw4/twig/lib/Twig/Node/Expression/BlockReference.php
hw4/twig/lib/Twig/Node/Expression/Call.php
hw4/twig/lib/Twig/Node/Expression/Conditional.php
hw4/twig/lib/Twig/Node/Expression/Constant.php
hw4/twig/lib/Twig/Node/Expression/ExtensionReference.php
hw4/twig/lib/Twig/Node/Expression/Filter.php
hw4/twig/lib/Twig/Node/Expression/Function.php
hw4/twig/lib/Twig/Node/Expression/GetAttr.php
hw4/twig/lib/Twig/Node/Expression/MethodCall.php
hw4/twig/lib/Twig/Node/Expression/Name.php
hw4/twig/lib/Twig/Node/Expression/NullCoalesce.php
hw4/twig/lib/Twig/Node/Expression/Parent.php
hw4/twig/lib/Twig/Node/Expression/TempName.php
hw4/twig/lib/Twig/Node/Expression/Test.php
hw4/twig/lib/Twig/Node/Expression/Unary.php
hw4/twig/lib/Twig/Node/Expression/Binary/Add.php
hw4/twig/lib/Twig/Node/Expression/Binary/And.php
hw4/twig/lib/Twig/Node/Expression/Binary/BitwiseAnd.php
hw4/twig/lib/Twig/Node/Expression/Binary/BitwiseOr.php
hw4/twig/lib/Twig/Node/Expression/Binary/BitwiseXor.php
hw4/twig/lib/Twig/Node/Expression/Binary/Concat.php
hw4/twig/lib/Twig/Node/Expression/Binary/Div.php
hw4/twig/lib/Twig/Node/Expression/Binary/EndsWith.php
hw4/twig/lib/Twig/Node/Expression/Binary/Equal.php
hw4/twig/lib/Twig/Node/Expression/Binary/FloorDiv.php
hw4/twig/lib/Twig/Node/Expression/Binary/Greater.php
hw4/twig/lib/Twig/Node/Expression/Binary/GreaterEqual.php
hw4/twig/lib/Twig/Node/Expression/Binary/In.php
hw4/twig/lib/Twig/Node/Expression/Binary/Less.php
hw4/twig/lib/Twig/Node/Expression/Binary/LessEqual.php
hw4/twig/lib/Twig/Node/Expression/Binary/Matches.php
hw4/twig/lib/Twig/Node/Expression/Binary/Mod.php
hw4/twig/lib/Twig/Node/Expression/Binary/Mul.php
hw4/twig/lib/Twig/Node/Expression/Binary/NotEqual.php
hw4/twig/lib/Twig/Node/Expression/Binary/NotIn.php
hw4/twig/lib/Twig/Node/Expression/Binary/Or.php
hw4/twig/lib/Twig/Node/Expression/Binary/Power.php
hw4/twig/lib/Twig/Node/Expression/Binary/Range.php
hw4/twig/lib/Twig/Node/Expression/Binary/StartsWith.php
hw4/twig/lib/Twig/Node/Expression/Binary/Sub.php
hw4/twig/lib/Twig/Node/Expression/Filter/Default.php
hw4/twig/lib/Twig/Node/Expression/Test/Constant.php
hw4/twig/lib/Twig/Node/Expression/Test/Defined.php
hw4/twig/lib/Twig/Node/Expression/Test/Divisibleby.php
hw4/twig/lib/Twig/Node/Expression/Test/Even.php
hw4/twig/lib/Twig/Node/Expression/Test/Null.php
hw4/twig/lib/Twig/Node/Expression/Test/Odd.php
hw4/twig/lib/Twig/Node/Expression/Test/Sameas.php
hw4/twig/lib/Twig/Node/Expression/Unary/Neg.php
hw4/twig/lib/Twig/Node/Expression/Unary/Not.php
hw4/twig/lib/Twig/Node/Expression/Unary/Pos.php
hw4/twig/lib/Twig/NodeVisitor/Escaper.php
hw4/twig/lib/Twig/NodeVisitor/Optimizer.php
hw4/twig/lib/Twig/NodeVisitor/SafeAnalysis.php
hw4/twig/lib/Twig/NodeVisitor/Sandbox.php
hw4/twig/lib/Twig/Profiler/Profile.php
hw4/twig/lib/Twig/Profiler/Dumper/Base.php
hw4/twig/lib/Twig/Profiler/Dumper/Blackfire.php
hw4/twig/lib/Twig/Profiler/Dumper/Html.php
hw4/twig/lib/Twig/Profiler/Dumper/Text.php
hw4/twig/lib/Twig/Profiler/Node/EnterProfile.php
hw4/twig/lib/Twig/Profiler/Node/LeaveProfile.php
hw4/twig/lib/Twig/Profiler/NodeVisitor/Profiler.php
hw4/twig/lib/Twig/Sandbox/SecurityError.php
hw4/twig/lib/Twig/Sandbox/SecurityNotAllowedFilterError.php
hw4/twig/lib/Twig/Sandbox/SecurityNotAllowedFunctionError.php
hw4/twig/lib/Twig/Sandbox/SecurityNotAllowedMethodError.php
hw4/twig/lib/Twig/Sandbox/SecurityNotAllowedPropertyError.php
hw4/twig/lib/Twig/Sandbox/SecurityNotAllowedTagError.php
hw4/twig/lib/Twig/Sandbox/SecurityPolicy.php
hw4/twig/lib/Twig/Sandbox/SecurityPolicyInterface.php
hw4/twig/lib/Twig/Test/Function.php
hw4/twig/lib/Twig/Test/IntegrationTestCase.php
hw4/twig/lib/Twig/Test/Method.php
hw4/twig/lib/Twig/Test/Node.php
hw4/twig/lib/Twig/Test/NodeTestCase.php
hw4/twig/lib/Twig/TokenParser/AutoEscape.php
hw4/twig/lib/Twig/TokenParser/Block.php
hw4/twig/lib/Twig/TokenParser/Deprecated.php
hw4/twig/lib/Twig/TokenParser/Do.php
hw4/twig/lib/Twig/TokenParser/Embed.php
hw4/twig/lib/Twig/TokenParser/Extends.php
hw4/twig/lib/Twig/TokenParser/Filter.php
hw4/twig/lib/Twig/TokenParser/Flush.php
hw4/twig/lib/Twig/TokenParser/For.php
hw4/twig/lib/Twig/TokenParser/From.php
hw4/twig/lib/Twig/TokenParser/If.php
hw4/twig/lib/Twig/TokenParser/Import.php
hw4/twig/lib/Twig/TokenParser/Include.php
hw4/twig/lib/Twig/TokenParser/Macro.php
hw4/twig/lib/Twig/TokenParser/Sandbox.php
hw4/twig/lib/Twig/TokenParser/Set.php
hw4/twig/lib/Twig/TokenParser/Spaceless.php
hw4/twig/lib/Twig/TokenParser/Use.php
hw4/twig/lib/Twig/TokenParser/With.php
hw4/twig/lib/Twig/Util/DeprecationCollector.php
hw4/twig/lib/Twig/Util/TemplateDirIterator.php
hw4/twig/src/Compiler.php
hw4/twig/src/Environment.php
hw4/twig/src/ExpressionParser.php
hw4/twig/src/FileExtensionEscapingStrategy.php
hw4/twig/src/Lexer.php
hw4/twig/src/Markup.php
hw4/twig/src/NodeTraverser.php
hw4/twig/src/Parser.php
hw4/twig/src/Source.php
hw4/twig/src/Template.php
hw4/twig/src/TemplateWrapper.php
hw4/twig/src/Token.php
hw4/twig/src/TokenStream.php
hw4/twig/src/TwigFilter.php
hw4/twig/src/TwigFunction.php
hw4/twig/src/TwigTest.php
hw4/twig/src/Cache/CacheInterface.php
hw4/twig/src/Cache/FilesystemCache.php
hw4/twig/src/Cache/NullCache.php
hw4/twig/src/Error/Error.php
hw4/twig/src/Error/LoaderError.php
hw4/twig/src/Error/RuntimeError.php
hw4/twig/src/Error/SyntaxError.php
hw4/twig/src/Extension/AbstractExtension.php
hw4/twig/src/Extension/CoreExtension.php
hw4/twig/src/Extension/DebugExtension.php
hw4/twig/src/Extension/EscaperExtension.php
hw4/twig/src/Extension/ExtensionInterface.php
hw4/twig/src/Extension/GlobalsInterface.php
hw4/twig/src/Extension/InitRuntimeInterface.php
hw4/twig/src/Extension/OptimizerExtension.php
hw4/twig/src/Extension/ProfilerExtension.php
hw4/twig/src/Extension/RuntimeExtensionInterface.php
hw4/twig/src/Extension/SandboxExtension.php
hw4/twig/src/Extension/StagingExtension.php
hw4/twig/src/Extension/StringLoaderExtension.php
hw4/twig/src/Loader/ArrayLoader.php
hw4/twig/src/Loader/ChainLoader.php
hw4/twig/src/Loader/ExistsLoaderInterface.php
hw4/twig/src/Loader/FilesystemLoader.php
hw4/twig/src/Loader/LoaderInterface.php
hw4/twig/src/Loader/SourceContextLoaderInterface.php
hw4/twig/src/Node/AutoEscapeNode.php
hw4/twig/src/Node/BlockNode.php
hw4/twig/src/Node/BlockReferenceNode.php
hw4/twig/src/Node/BodyNode.php
hw4/twig/src/Node/CheckSecurityCallNode.php
hw4/twig/src/Node/CheckSecurityNode.php
hw4/twig/src/Node/CheckToStringNode.php
hw4/twig/src/Node/DeprecatedNode.php
hw4/twig/src/Node/DoNode.php
hw4/twig/src/Node/EmbedNode.php
hw4/twig/src/Node/FlushNode.php
hw4/twig/src/Node/ForLoopNode.php
hw4/twig/src/Node/ForNode.php
hw4/twig/src/Node/IfNode.php
hw4/twig/src/Node/ImportNode.php
hw4/twig/src/Node/IncludeNode.php
hw4/twig/src/Node/MacroNode.php
hw4/twig/src/Node/ModuleNode.php
hw4/twig/src/Node/Node.php
hw4/twig/src/Node/NodeCaptureInterface.php
hw4/twig/src/Node/NodeOutputInterface.php
hw4/twig/src/Node/PrintNode.php
hw4/twig/src/Node/SandboxedPrintNode.php
hw4/twig/src/Node/SandboxNode.php
hw4/twig/src/Node/SetNode.php
hw4/twig/src/Node/SetTempNode.php
hw4/twig/src/Node/SpacelessNode.php
hw4/twig/src/Node/TextNode.php
hw4/twig/src/Node/WithNode.php
hw4/twig/src/Node/Expression/AbstractExpression.php
hw4/twig/src/Node/Expression/ArrayExpression.php
hw4/twig/src/Node/Expression/ArrowFunctionExpression.php
hw4/twig/src/Node/Expression/AssignNameExpression.php
hw4/twig/src/Node/Expression/BlockReferenceExpression.php
hw4/twig/src/Node/Expression/CallExpression.php
hw4/twig/src/Node/Expression/ConditionalExpression.php
hw4/twig/src/Node/Expression/ConstantExpression.php
hw4/twig/src/Node/Expression/FilterExpression.php
hw4/twig/src/Node/Expression/FunctionExpression.php
hw4/twig/src/Node/Expression/GetAttrExpression.php
hw4/twig/src/Node/Expression/InlinePrint.php
hw4/twig/src/Node/Expression/MethodCallExpression.php
hw4/twig/src/Node/Expression/NameExpression.php
hw4/twig/src/Node/Expression/NullCoalesceExpression.php
hw4/twig/src/Node/Expression/ParentExpression.php
hw4/twig/src/Node/Expression/TempNameExpression.php
hw4/twig/src/Node/Expression/TestExpression.php
hw4/twig/src/Node/Expression/Binary/AbstractBinary.php
hw4/twig/src/Node/Expression/Binary/AddBinary.php
hw4/twig/src/Node/Expression/Binary/AndBinary.php
hw4/twig/src/Node/Expression/Binary/BitwiseAndBinary.php
hw4/twig/src/Node/Expression/Binary/BitwiseOrBinary.php
hw4/twig/src/Node/Expression/Binary/BitwiseXorBinary.php
hw4/twig/src/Node/Expression/Binary/ConcatBinary.php
hw4/twig/src/Node/Expression/Binary/DivBinary.php
hw4/twig/src/Node/Expression/Binary/EndsWithBinary.php
hw4/twig/src/Node/Expression/Binary/EqualBinary.php
hw4/twig/src/Node/Expression/Binary/FloorDivBinary.php
hw4/twig/src/Node/Expression/Binary/GreaterBinary.php
hw4/twig/src/Node/Expression/Binary/GreaterEqualBinary.php
hw4/twig/src/Node/Expression/Binary/InBinary.php
hw4/twig/src/Node/Expression/Binary/LessBinary.php
hw4/twig/src/Node/Expression/Binary/LessEqualBinary.php
hw4/twig/src/Node/Expression/Binary/MatchesBinary.php
hw4/twig/src/Node/Expression/Binary/ModBinary.php
hw4/twig/src/Node/Expression/Binary/MulBinary.php
hw4/twig/src/Node/Expression/Binary/NotEqualBinary.php
hw4/twig/src/Node/Expression/Binary/NotInBinary.php
hw4/twig/src/Node/Expression/Binary/OrBinary.php
hw4/twig/src/Node/Expression/Binary/PowerBinary.php
hw4/twig/src/Node/Expression/Binary/RangeBinary.php
hw4/twig/src/Node/Expression/Binary/StartsWithBinary.php
hw4/twig/src/Node/Expression/Binary/SubBinary.php
hw4/twig/src/Node/Expression/Filter/DefaultFilter.php
hw4/twig/src/Node/Expression/Test/ConstantTest.php
hw4/twig/src/Node/Expression/Test/DefinedTest.php
hw4/twig/src/Node/Expression/Test/DivisiblebyTest.php
hw4/twig/src/Node/Expression/Test/EvenTest.php
hw4/twig/src/Node/Expression/Test/NullTest.php
hw4/twig/src/Node/Expression/Test/OddTest.php
hw4/twig/src/Node/Expression/Test/SameasTest.php
hw4/twig/src/Node/Expression/Unary/AbstractUnary.php
hw4/twig/src/Node/Expression/Unary/NegUnary.php
hw4/twig/src/Node/Expression/Unary/NotUnary.php
hw4/twig/src/Node/Expression/Unary/PosUnary.php
hw4/twig/src/NodeVisitor/AbstractNodeVisitor.php
hw4/twig/src/NodeVisitor/EscaperNodeVisitor.php
hw4/twig/src/NodeVisitor/NodeVisitorInterface.php
hw4/twig/src/NodeVisitor/OptimizerNodeVisitor.php
hw4/twig/src/NodeVisitor/SafeAnalysisNodeVisitor.php
hw4/twig/src/NodeVisitor/SandboxNodeVisitor.php
hw4/twig/src/Profiler/Profile.php
hw4/twig/src/Profiler/Dumper/BaseDumper.php
hw4/twig/src/Profiler/Dumper/BlackfireDumper.php
hw4/twig/src/Profiler/Dumper/HtmlDumper.php
hw4/twig/src/Profiler/Dumper/TextDumper.php
hw4/twig/src/Profiler/Node/EnterProfileNode.php
hw4/twig/src/Profiler/Node/LeaveProfileNode.php
hw4/twig/src/Profiler/NodeVisitor/ProfilerNodeVisitor.php
hw4/twig/src/RuntimeLoader/ContainerRuntimeLoader.php
hw4/twig/src/RuntimeLoader/FactoryRuntimeLoader.php
hw4/twig/src/RuntimeLoader/RuntimeLoaderInterface.php
hw4/twig/src/Sandbox/SecurityError.php
hw4/twig/src/Sandbox/SecurityNotAllowedFilterError.php
hw4/twig/src/Sandbox/SecurityNotAllowedFunctionError.php
hw4/twig/src/Sandbox/SecurityNotAllowedMethodError.php
hw4/twig/src/Sandbox/SecurityNotAllowedPropertyError.php
hw4/twig/src/Sandbox/SecurityNotAllowedTagError.php
hw4/twig/src/Sandbox/SecurityPolicy.php
hw4/twig/src/Sandbox/SecurityPolicyInterface.php
hw4/twig/src/Test/IntegrationTestCase.php
hw4/twig/src/Test/NodeTestCase.php
hw4/twig/src/TokenParser/AbstractTokenParser.php
hw4/twig/src/TokenParser/ApplyTokenParser.php
hw4/twig/src/TokenParser/AutoEscapeTokenParser.php
hw4/twig/src/TokenParser/BlockTokenParser.php
hw4/twig/src/TokenParser/DeprecatedTokenParser.php
hw4/twig/src/TokenParser/DoTokenParser.php
hw4/twig/src/TokenParser/EmbedTokenParser.php
hw4/twig/src/TokenParser/ExtendsTokenParser.php
hw4/twig/src/TokenParser/FilterTokenParser.php
hw4/twig/src/TokenParser/FlushTokenParser.php
hw4/twig/src/TokenParser/ForTokenParser.php
hw4/twig/src/TokenParser/FromTokenParser.php
hw4/twig/src/TokenParser/IfTokenParser.php
hw4/twig/src/TokenParser/ImportTokenParser.php
hw4/twig/src/TokenParser/IncludeTokenParser.php
hw4/twig/src/TokenParser/MacroTokenParser.php
hw4/twig/src/TokenParser/SandboxTokenParser.php
hw4/twig/src/TokenParser/SetTokenParser.php
hw4/twig/src/TokenParser/SpacelessTokenParser.php
hw4/twig/src/TokenParser/TokenParserInterface.php
hw4/twig/src/TokenParser/UseTokenParser.php
hw4/twig/src/TokenParser/WithTokenParser.php
hw4/twig/src/Util/DeprecationCollector.php
hw4/twig/src/Util/TemplateDirIterator.php
