<a href="{{constant('BASE_URL')}}/category/{{id}}" class="list-group-item list-group-item-action" aria-current="true">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{item.name}}</h5>
  </div>
  <small>{{item.dt_add}}</small>
</a>